<section class="app-header flex space-between align-center">
  <div class="logo-wrapper">
    <h3>Mister-bitCoin</h3>
  </div>
  <ul class="header-nav flex justify-center align-center">
    <li>
      <!-- <a routerLink="/contact" routerLinkActive="active">Contacts</a> -->
      <a title="Home" routerLink="/contact" routerLinkActive="active"><img src="../../../assets/imgs/increase.png" alt="" /></a>
    </li>
    <li>
      <!-- <a routerLink="/contact" routerLinkActive="active">Contacts</a> -->
      <a title="Contacts" routerLink="/contact" routerLinkActive="active"><img src="../../../assets/imgs/users.png" alt="" /></a>
    </li>
    <li>
      <!-- <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a> -->
      <a title="Home" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <img src="../../../assets/imgs/home.png" alt="" /></a>
    </li>
  </ul>
</section>
